<!DOCTYPE html>
<html>
<head>
  <title>All Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<h1>All Books</h1>

<%= yield %>

	<footer>
		Copyright Bookworm LLC 2015
	</footer>
	
</body>

</html>
