<% @companies.each do |company| %>

  <h3><%= company.id %> <%= link_to company.name.capitalize, company %></h3>
  <p>City: <%= company.city %></p>
  <p>Market Capitalization: <%= company.market_capitalization %></p><br>

<% end %>
