<!DOCTYPE html>
<html>
<head>
  <title>ShirtManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Shirt Management</h1>
<%= yield %>

</body>
</html>
