<h2>ALL MOVIES</h2>

<div class="button"><%= link_to "new movie", new_movie_path %></div>

<% @movies.each do |movie| %>
<div class="movie">
	<p class="title"><%= link_to movie.title, movie %> - <%= movie.year %></p>
</div>
<% end %>