<h2>Workshirts</h2>

<div class="table">
	<div class="tr-header">
		<div class="td">ID</div>
		<div class="td">Style</div>
		<div class="td">Color</div>
		<div class="td">Rating</div>
	</div>
		<% @workshirts.each do |w| %>
			<div class="tr">
				<div class="td"><%= w.id %></div>
				<div class="td"><%= w.style.upcase %></div>
				<div class="td"><%= w.color.upcase %></div>
				<div class="td"><%= w.rating %></div>
			</div>
		<% end %>
</div>