<div class="title">
	<h2>Murder Must Advertise</h2>
	<p>a Lord Peter Wimsey novel</p>
	<p>by Dorothy L. Sayers</p>
</div>

<div class="title">
	<h2>101 Dalmations</h2>
	<p>the story of many dogs with many spots</p>
	<p>by Dodie Smith</p>
</div>