
<!DOCTYPE html>
<head>
  <title>The Rock Paper Scissors Game</title>
  <style>
    body {
      text-align: center;
      background: url("http://rlv.zcache.com/rock_paper_scissors_hands_large_greeting_card-rb90c4456130240ec8d7707a9e60cf5d3_i1j3l_1024.jpg?rlvnet=1");
      background-size: 1400px 1100px;
      /*background-size: cover;*/
      /*background-position:center;*/
      color: red;
      font-family: helvetica;
    }
    h1{
      padding-top: 60px;
      padding-bottom: 60px;
    }

    p{
      font-size:22px;
    }
  </style>
</head>
<body>
  <!-- <p> -----------------------------------------------------------------------  </p> -->
  <h1>Welcome to Rock Paper Scissors Game. Please place your bets: </h1>
  <!-- <p> ----------------------------------------------------------------------- </p> -->
  <p> Rock it with the <%=link_to "ROCK","game/rock"%> Option! </p>
  <p> Hit it with <%=link_to "PAPER","game/paper"%>.</p>
  <p> Or cut up your opponent with  <%=link_to "SCISSORS","game/scissors"%>.</p>




</body>
