<!DOCTYPE html>
<html>
<head>
  <title>BusinessTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>This is a nice header</h2>
<%= yield %>

</body>
</html>
